<div #container class="flex flex-col w-max pt-6">
  @for (item of timeFrom() | appSchedulerGenerateHoursCaptions : timeTo(); track item.fullTime; let isLastRow = $last; let isFirstRow = $first) {
    <div class="flex">
      @for (room of rooms(); track room.name; let isLastColumn = $last) {
        <app-scheduler-grid-single-cell
          [room]="room"
          [time]="item.time"
          [isLastRow]="isLastRow"
          [isFirstRow]="isFirstRow"
          [isLastColumn]="isLastColumn"
        />
      }
    </div>
  }
</div>