<div class="flex items-center mb-1 gap-x-1.5 relative">
  <div class="{{ blocksType() | appSchedulerBlockTypeColorIntense}} rounded-sm w-3.5 h-3.5">
  </div>

  <h3 class="font-medium text-gray-300 tracking-wide text-sm">
    {{ blocksType() | appSchedulerTranslateBlockType }}
  </h3>

  <button type="button" (click)="roll()" class="flex justify-center items-center absolute right-0 top-1/2 -translate-x-1/2">
    <ng-icon [name]="isRolledUp() ? 'heroChevronDown' : 'heroChevronUp'"/>
  </button>
</div>

@if (!isRolledUp()) {
  <ul>
    @for (item of legends(); track item.id) {
      <li class="text-sm gap-x-2 mt-1.5 flex items-center w-full">
        <ng-icon (click)="openEditLegendModalHandler(item)" class="text-base cursor-pointer" name="heroPencilSquare"/>
        <span
          [appTooltip]="item?.name"
          appTooltipTheme="light"
          (click)="selectItemHandler(item.id)"
          class="line-clamp-1 w-full
                 {{ item.id === selectedLegendBlock()?.id ? 'text-blue-400 mt-0.5 cursor-pointer' : 'text-gray-400 mt-0.5 cursor-pointer' }}"
        >
          {{ item?.name }}
        </span>
      </li>
    }
  </ul>
}