<lib-modal caption="{{ editedLegend ? 'Aktualizuj' : 'Dodaj nową' }} atrakcję">

  <form [formGroup]="form" (ngSubmit)="submitHandler()" class="flex flex-col gap-y-5">
    <app-input formControlName="name" inputId="name" inputType="text" placeholder="Niesamowita atrakcja" label="Nazwa atrakcji"/>
    <app-select-input formControlName="blocksType" inputId="block-type" label="Typ atrakcji" [options]="blockTypesOptions()"/>
    <app-textarea formControlName="description" inputId="description" placeholder="Niesamowity opis" label="Opis atrakcji"/>


    <div class="flex justify-end gap-x-3">
      @if (editedLegend) {
        <app-button (click)="openDeleteOverlay()" btnType="button" class="w-fit" severity="danger" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
          Usuń atrakcję
        </app-button>

        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="isDeleteOverlayOpen()"
          (detach)="closeDeleteOverlay()"
        >
          <div animate.enter="delete-overlay" animate.leave="delete-overlay-leaving" class="bg-gray-200 rounded-xl px-4 py-3 mt-3">
            <p class="text-gray-700 mb-3">Czy na pewno chcesz usunąć atrakcję?</p>
            <div class="flex gap-x-3 justify-end">
              <app-button btnType="button" (click)="closeDeleteOverlay()" class="w-fit" severity="outline" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                Nie, anuluj
              </app-button>

              <app-button (click)="deleteLegendHandler()" btnType="button" class="w-fit" severity="danger" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                Tak, usuń
              </app-button>
            </div>
          </div>
        </ng-template>
      }

      <app-button btnType="submit" class="w-fit" severity="primary">
        {{ editedLegend ? 'Aktualizuj' : 'Dodaj' }}
      </app-button>
    </div>
  </form>
</lib-modal>