@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';
@import "tailwindcss";

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/animations/scale.css';

@theme {
  --z-index-2xl: 2147483647;
  --z-index-xl: 2147483646;
}

body {
  font-family: 'Jost', sans-serif;
}

.h-page {
  height: calc(100vh - 24px - 84px - 8px);
}

.cdk-overlay-container {
  @apply z-2xl;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s;

  @starting-style {
    opacity: 0;
  }
}