@let blockDuration = block()?.position?.startTime | appSchedulerDurationInMinutes : block()?.position?.endTime;
@let showDuration = blockDuration > 60;
@let showDescription = blockDuration > 90;

<div class="px-1 py-0.5 w-full h-full">
  <div
    [class.shadow-xl]="block()?.id === currentFoundInstance()?.id"
    [class.shadow-blue-400]="block()?.id === currentFoundInstance()?.id"
    class="w-full h-full overflow-hidden rounded-lg border border-solid border-gray-500  {{ showDuration ? 'p-3' : 'px-3 flex items-center' }} {{ legend()?.type | appSchedulerBlockTypeColor }}"
  >
    <p
      [tp]="legend()?.name"
      class="text-xs font-medium text-gray-800 {{ showDescription ? 'line-clamp-2' : 'line-clamp-1' }}"
    >
      {{ legend()?.name }}
    </p>


    @if (showDuration) {
      <p class="text-xs text-gray-700 mt-0.5 line-clamp-2">
        od {{ block()?.position?.startTime | date : 'dd.MM, HH:mm' }} <br/>
        do {{ block()?.position?.endTime | date : 'dd.MM, HH:mm' }}
      </p>

      @if (showDescription) {
        <p class="text-xs text-gray-600 mt-3">
          {{ legend()?.description }}
        </p>
      }
    }
  </div>
</div>