<div>
  <label [for]="inputId()" class="block mb-2 text-sm font-medium text-zinc-300">{{ label() }}</label>
  <select
    [id]="inputId()"
    [(ngModel)]="value"
    (ngModelChange)="updateChanges()"
    class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 appearance-none bg-gray-700 border-gray-600 placeholder-gray-400 text-white">

    @for (option of options(); track option?.value) {
      <option [value]="option?.value">
        {{ option?.display }}
      </option>
    }
  </select>
</div>