<aside class="bg-zinc-900 h-full relative w-full rounded-xl text-gray-100 px-5 pb-5 flex flex-col gap-y-4">
  <form [formGroup]="form" class="relative">
    <app-input formControlName="search" inputId="search" inputType="text" placeholder="Szukaj..." [search]="true" class="ps-8"/>
    <div class="mt-4 text-xs flex h-[18px] justify-between w-full items-center">
      @if (searchFilter()) {
        <span class="text-gray-300 me-2">
            {{ currentFoundInstanceNumber() }}/{{ foundInstancesCount() }}
        </span>

        <div class="flex gap-x-3 items-center justify-end w-full">
          <button (click)="scrollToPreviousInstanceHandler()" type="button" class="text-gray-300 text-lg flex items-center justify-center">
            <ng-icon name="heroChevronLeft"/>
          </button>

          <button (click)="scrollToNextInstanceHandler()" type="button" class="text-gray-300 text-lg flex items-center justify-center">
            <ng-icon name="heroChevronRight"/>
          </button>
        </div>
      }
    </div>
  </form>

  <div [style.height]="'calc(100vh - 28px - 98px - 16px - 50px)'" class="flex flex-col gap-y-4 overflow-y-auto">
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.LECTURE"/>
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.PANEL"/>
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.COMPETITION"/>
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.CONCERT"/>
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.MOVIE"/>
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.TECHNICAL"/>
    <app-scheduler-sidebar-blocks-list [blocksType]="EventBlockType.OTHER"/>
  </div>

  <div class="absolute w-full left-0 bottom-0 p-5 rounded-xl bg-gray-900">
    <app-button (click)="openAddModal()" [btnType]="'button'" class="w-full">
      Dodaj nowy blok
    </app-button>
  </div>
</aside>